* {
    font-family: 'Montserrat', sans-serif;
}

.hero-text {
    font-weight: 600;
}

.btn-hero {
    border-radius: 20px;   
    background-color: #5045B0;
    border-color: #5045B0;

}

.hero-client {
    font-size: 36px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 80px;

}

.img-hero {
    margin-top: 150px;
}

.sub-client {
    margin-top: 30px;
    font-weight: 600;
}

.project {
    margin: 60px;
    margin-top: 5px;
    box-shadow: 0px 0px 0px 0px seashell;
    border-radius: 20px;
}

.jumbotron-footer {
    background: rgb(79,69,177);
    background: linear-gradient(90deg, rgba(79,69,177,1) 0%, rgba(57,49,134,1) 77%);
    border-radius : 0px 100px 0px 0px;
    width: 90%;
    margin-top: 100px;
}

.hr-white {
    background-color: silver;
}

.hero-client-footer {
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}


.btn-hero-footer {
    border-radius: 20px;   
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(46,141,225,1) 0%, rgba(182,94,186,1) 100%);
}

.copyright {
    font-size: small;
    color: #9F9BC9;
}

.text-footer {
    margin-right: 10px;
}

.footer-color {
    background-color: wheat;
}

.navtext {
    color: #5045B0;
}

.med-footer {
    margin-left: 50px;
}

.card-client {
    width: 90%;
}

.text-team {
    font-weight: 500;
}

.team-hero {
    margin-top: 100px;
    border-radius: 10px;
}

.card-hero {
    border-color: steelblue;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 125px;
}

.sub-client-team {
    margin-top: 10px;
    font-weight: 600;
}

.btn-project3 {
    background: rgb(66,230,149);
    background: linear-gradient(90deg, rgba(66,230,149,1) 0%, rgba(59,178,184,1) 100%);
    border-radius: 20px;
    border-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-project2 {
    background: rgb(252,227,138);
    background: linear-gradient(90deg, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    border-radius: 20px;
    border-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-project1 {
    background: rgb(110,226,245);
    background: linear-gradient(90deg, rgba(110,226,245,1) 0%, rgba(100,84,240,1) 100%);
    border-radius: 20px;
    border-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hero {
    animation-name: ataskebawah;
    animation-duration: 2s;
    animation-delay: 2s;
}

html {
    scroll-behavior: smooth;
}  

.active {
    color: #5045B0;
}

/* animasi */

@keyframes geser {
    from {
        opacity: 0;
        transform: translateX(-200px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes ataskebawah {
    from {
        opacity: 0;
        transform: skewX(-200px);
    } to {
        opacity: 1;
        transform: skewX(0px);
    }
}

/* DUA */
.dua-wrapper {
  width: 100%;
  padding: 50px 0;
  padding-left: 165px;
  padding-bottom: 200px;
}

.heading h2 {
  width: 381px;
  height: 92px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */

  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.85);
}

.box-container {
  padding: 20px 0;
}

.box {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 85px;
  margin-bottom: 50px;

  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(212, 212, 212, 0.2);
  border-radius: 10px;
}

.box-logo {
  padding-top: 27px;
  padding-left: 30px;
}

.box-logo img {
  width: 104px;
  height: 95px;
}

.box-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  padding: 0 30px;
}

.box-text h4 {
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.85);
}

.box-text p {
  font-size: 12px;
  line-height: 19px;

  text-align: justify;
  letter-spacing: 0.025em;

  color: #1F3F68;
  opacity: 0.6;
}

.box-link {
  padding: 0 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.box-link a {
  font-size: 14px;
  line-height: 30px;

  letter-spacing: 0.05em;

  color: #5A98D0;
}

.oke {
  width: 10px;
  height: 10px;
}



/* TIGA */
.project-wrapper {
  margin-bottom: 100px;
  padding-left: 147px;
  padding-right: 147px;
  width: 100%;
}

.heading {
  margin-bottom: 40px;
}

.heading h2 {
  font-weight: 500;
  font-size: 36px;
}

.txt-content {
  padding-left: 67px;
  display: block;
  float: left;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 100px;
}

.txt-content h3 {
  font-weight: normal;
  margin-bottom: 25px;
  font-size: 36px;
}

.txt-content p {
  font-size: 18px;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 50px;
}

.btnv {
  padding: 15px 55px;
  color: white;
  opacity: 1;
  border-radius: 30px;
  text-align: center;
}

.pro1 {
  transition: background 0.15;
  background: linear-gradient(90deg, #6ee2f5 -33.64%, #6454f0 137.73%);
}

.pro1:hover {
  background: linear-gradient(90deg, #63cbdc -33.64%, #5a4bd8 137.73%)
}

.pro2 {
  transition: background 0.15;
  background: linear-gradient(90deg, #fce38a -33.64%, #f38181 137.73%);
}

.pro2:hover {
  background: linear-gradient(90deg, #e2cc7c -33.64%, #da7474 137.73%);
}

.pro3 {
  transition: background 0.15;
  background: linear-gradient(90deg, #42e695 -33.64%, #3bb2b8 137.73%);
}

.pro3:hover {
  background: linear-gradient(90deg, #3bcf86 -33.64%, #35a0a5 137.73%);
}

.project-pic {
  width: 490px;
  height: auto;
  float: right;
  margin-bottom: 40px;
}


/* EMPAT */

.message-wrapper4 {
  width:1125px;
  padding-bottom: 110px;
  margin:0 auto;
  background-color: white;
  text-align: left;

}
.message-wrapper4 h2{
width: 327px;
height: 46px;
left: 166px;
top: 3634px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 46px;

/* identical to box height, or 128% */
letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.85);
}
.heading4 h2{

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 46px;
padding-bottom: :150px;
/* identical to box height, or 128% */
letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.85);
}
.message4 {
  float:left;
  width: 25%;
  padding-top :110px ;
  padding-bottom:90px;
}
.message4 h3{
    padding-top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    text-align: left;
    letter-spacing: 0.05em;

    color: rgba(0, 0, 0, 0.85);
}
.txt-contents4 {
  width: 86%;
    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    color: rgba(31, 63, 104, 0.5);
    text-align: left;
  
}



/* LIMA */
footer {
    padding-top: 1600px;
}

li{
  list-style: none;
  margin-top:10px;

}

.btn {
  padding:12px 50px;
  color:white;
  opacity:0.8;
  display:inline-block;
  background: linear-gradient(270deg, #B65EBA -34.55%, #2E8DE1 137.27%);
  box-shadow: 5px 10px 20px rgba(100, 84, 240, 0.2);
  border-radius: 30px;
  }

.btn:hover{
  opacity:1;
}

.lets {
    float: left;
    padding-top: 100px;
   padding-left: 200px;
}
.letstalk{
  float: right;
  background-color:#30336b;
  margin-right:20px;
  font-size: 25px;
  border-bottom:1px solid #FFFFFF;

}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.p5 {
  padding-left:50px;
  padding-top: 20px;
  font-weight: 500px;
  font-size: 36px;
  line-height: 50px;
  border-bottom:2px solid #FFFFFF;
}

.tentang{
  width: 1275px;
  height: 578px;
  left: 0px;
  top: 4182px;
  color: #FFFFFF;
  /*background: linear-gradient(247.26deg, #393186 7.46%, #4F45B1 150.62%);*/
  background: url('footer.png');
  border-radius: 0px 50px 0px 0px;
}

.about {
  padding-top: 50px;
  padding-left: 100px;
  float: left;
}

.follow {
  padding-left: 100px;
  padding-top: 50px;
  float: left;
}  

.aboutus{
  font-size: 25px;
}

.followus{
  font-size: 25px; 
}

.lima { 
float: left;
 }

